body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f0;
}

#personnage img {
    width: 200px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffb6c1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff99aa;
}
